<!--Left Bundle Branch Block","Normal","Premature Atrial Contraction","Premature Ventricular Contractions","Right Bundle Branch Block","Ventricular Fibrillation  -->
<!--
<html>
<frameset rows="20%,*" frameborder="no">
		<frame name="navbar" src="navbar.html">
		<frameset cols="20%,*">
		<frame name="1" src="1.html">
		<frame name="2" src="2.html"></frameset>
</frameset>
</html>  -->
<html>

<style>
	body{
		background-color: black;
	}
	.nav1{
		font-size: 20px;
		font-family: sans-serif;
		width: 100%;
		margin-right: 80px;
		padding: 20px;
	}
   .dist{
		margin-left: 40px;
	}
   a{
   	color: yellow;
   }
</style>
<head>
	<nav class="nav1">
		<a class="dist" href="home.html">Home</a> 	
		<a class="dist" href="info.html">Information</a>
		<a class="dist" href="upload.html">Predict Image</a>
	</nav>
</head>
<body>
<div style="line-height: 60px; font-family: cursive; margin-top: 230px;color:indianred; font-family:monospace;"><center style="border:4px dashed red; margin:auto;">
<a href="Left_Bundle_Branch_Block.html" >Left_Bundle_Branch_Block</a><br>
<a href="Premature_Atrial_Contraction.html">Premature_Atrial_Contraction</a><br>
<a href="Premature_Ventricular_Contractions.html" >Premature_Ventricular_Contractions</a><br>
<a href="Right_Bundle_Branch_Block.html"  >Right_Bundle_Branch_Block</a><br>
<a href="Ventricular_Fibrillation.html" >Ventricular_Fibrillation</a><br></center></div>
	</body>
</html>