<html>
<style>
	.p1{
		font-size: 22px;
		font-family: monospace;
		background-color: black;
		letter-spacing: 2px; 	
		font-weight: 2px;
		border: 2px solid;
		text-align: justify;
		color: white;
		padding: 10px;
		margin: 40px;
		margin-top: 50px;
	}
	body{
		color: white;
		background-color: black;
	}
	div{
		margin: auto;
		margin-top: 44px;
	}
	.seemargin{
		width: 40%;
		height: 50%;
		margin-left: 350px;
	}
	</style>
	<head>
		<h1 style="color:yellow; text-decoration:underline; font-style: italic; font-family: monospace; font-size:40px;">Left bundle branch block</h1>
	</head>
<body >
	<img class="seemargin" src="static/Left_Bundle_Branch_Block.jpg">
	<div><article class="p1">In left bundle branch block, activation of the intraventricular septum is reversed and electrical impulses to the left ventricle are delayed. These altered electrical forces produce a wide QRS complex (greater than 0.12 seconds in duration) with an abnormal morphology. In leads I and V6, abnormal initial forces fail to produce any Q wave or S wave, and the resultant R wave is steep and often notched (circled below). Furthermore, a deep rapid S wave is generated in lead V1 (arrow below). The ST segment is slightly elevated in multiple leads and the T wave polarity is diffusely opposite to the ventricular complex.</article></div>
	</body>
</html>