<html>
<style>
	.p1{
		font-size: 22px;
		font-family: monospace;
		background-color: black;
		letter-spacing: 2px; 	
		font-weight: 2px;
		border: 2px solid;
		text-align: justify;
		color: white;
		padding: 10px;
		margin: 40px;
		margin-top: 50px;
	}
	body{
		color: white;
		background-color: black;
	}
	div{
		margin: auto;
		margin-top: 44px;
	}
	.seemargin{
		width: 40%;
		height: 50%;
		margin-left: 350px;
	}
	</style>
	<head>
		<h1 style="color:yellow; text-decoration:underline; font-style: italic; font-family: monospace; font-size:40px;">Premature Ventricular Contraction</h1>
	</head>
<body>
	<img class="seemargin" src="static/Premature_Ventricular_Contractions.jpg"><div><article>
<p class="p1" style="line-height: 39px; font-family: cursive;">&emsp;&emsp;&emsp;Premature ventricular complexes (circled below) may arise in normal individuals as well as patients suffering from nearly every form of structural heart disease. Premature ventricular complexes are recognized as single or paired unifocal beats, with no preceding P wave, a wide QRS complex of increased amplitude characteristically lasting greater than 0.14 seconds, and a T wave demonstrating polarity opposite to that of the PVC. They arise early in the cardiac cycle and are more likely to occur during periods of bradyarrhythmia. Although no P waves precede the wide QRS complex, retrograde activation of the atria may produce P waves which occur after the PVC or are buried in their T waves. Premature ventricular beats may arise from excessive catecholamines, myocardial ischemia or injury, electrolyte imbalances, certain medications including digitalis and class IA and IC antiarrhythmic agents.

</p></article></div>
	</body>
</html>