<html>
<style>
	.p1{
		font-size: 22px;
		font-family: monospace;
		background-color: black;
		letter-spacing: 2px; 	
		font-weight: 2px;
		border: 2px solid;
		text-align: justify;
		color: white;
		padding: 10px;
		margin: 10px;
		margin-top: 50px;
	}
	body{
		color: white;
		background-color: black;
	}
	div{
		margin: auto;
		margin-top: 44px;
	}
	.seemargin{
		width: 40%;
		height: 50%;
		border-color: white;
		border: 5px solid;
		margin-left: 350px;
	}
	</style>
	<head>
		<h1 style="color:yellow; text-decoration:underline; font-style: italic; font-family: monospace; font-size:40px;">Right bundle branch block</h1>
	</head>
<body>
	<img class="seemargin" src="static/Right_Bundle_Branch_Block.jpg"><div><article>
<p class="p1" style="line-height: 39px; font-family: cursive;">&emsp;&emsp;&emsp;As illustrated in the electrocardiogram below, right bundle branch block presents with delayed activation of the right ventricle, leading to a wide QRS complex lasting greater than 0.12 seconds. Altered terminal QRS forces produce a terminal R wave in lead aVR and terminal S waves in leads I, aVL, V5 and V6. <br><br>&emsp;&emsp;Triphasic complexes are identified as the late intrinsicoid "m-shaped" RSR' complex in lead V1, and the early intrinsicoid qRS complex in lead V6.

</p></article></div>
	</body>
</html>