<html>
<style>
	.p1{
		font-size: 22px;
		font-family: monospace;
		background-color: black;
		letter-spacing: 2px; 	
		font-weight: 2px;
		border: 2px solid;
		text-align: justify;
		color: white;
		padding: 10px;
		margin: 40px;
		margin-top: 50px;
	}
	body{
		color: white;
		background-color: black;
	}
	div{
		margin: auto;
		margin-top: 44px;
	}
	.seemargin{
		width: 40%;
		height: 50%;
		margin-left: 350px;
	}
	</style>
	<head>
		<h1 style="color:yellow; text-decoration:underline; font-style: italic; font-family: monospace; font-size:40px;">Ventricular_Fibrillation(VF)</h1>
	</head>
<body>
	<img class="seemargin" src="static/Ventricular_Fibrillation.jpg">
	<div><article class="p1" style="line-height: 34px; font-family: cursive;">
		<h3 style="text-decoration: underline; text-decoration-color: white;">ECG Findings</h3>

&emsp;&emsp;1.&emsp;Fibrillation waves of varying amplitude and shape.<br>
&emsp;&emsp;2.&emsp;No identifiable P waves, QRS complexes, or T waves.<br>
&emsp;&emsp;3.&emsp;Heart rate anywhere between 150 to 500 per minute.<br>
<h3 style="text-decoration: underline; text-decoration-color: white;">Types of VF on ECG:</h3>
<h3 style="text-decoration: underline; text-decoration-color: white;">Coarse VF:</h3>&emsp; Majority of the waveforms measure 3 mm or greater.<br>
	<h3 style="text-decoration: underline; text-decoration-color: white;">Fine VF: </h3>&emsp;Majority of the waveforms measure less than 3 mm.
</article></div>
	</body>
</html>